
@*<div class="row mb-2">*@
<div class="col">
    <div class="btn-group float-right">
        <a href="/Product/Create"><i class='fa fa-plus mr-3' style="font-size:24px;"></i></a>
        <a href="#" id="deleteBtn"><i class="fa fa-trash" style="font-size:24px;"></i></a>
    </div>
</div>
@*</div>*@